name: Node.js Package

on: push

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
          scope: '@les-laboratoires-js'
      - run: npm publish pancakes-handler
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}

  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: '@les-laboratoires-js'
      - run: npm ci
      - run: npm publish pancakes-handler
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
